.scheduleContainer {
  padding: 16px;
}

.dayContainer {
  margin-bottom: 24px;
}

.dateHeader {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.scheduleItem {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  padding: 8px 0;
  -webkit-tap-highlight-color: transparent;
}

.timeContainer {
  display: flex;
  gap: 10px;
  flex: 1;
}

.time {
  font-size: 15px;
  font-weight: 600;
}

.ampm {
  font-size: 14px;
  font-weight: 600;
  color: #d9d9d9;
  margin-top: 2px;
}

.contentContainer {
  display: flex;
  gap: 10px;
  flex: 3;
}

.content {
  font-size: 15px;
  font-weight: 700;
}

.detail {
  font-size: 15px;
}
