:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #333333;
    --profile-color: #eef7ff;
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 1.5rem;

    --basic-color: #222222;
    --main-color: #729bed;
    --sub1-color: #71e0e0;
    --sub2-color: #ffb6d7;
    --sub3-color: #ffde79;
    --sub4-color: #a0dbf9;
    --sub5-color: #bebefa;
    --sub6-color: #eac2ff;
    --sub7-color: #ffb7b8;
    --sub8-color: #a7ffac;
    --sub9-color: #729bed;

    --font-size-12: 1.2rem;
    --font-size-13: 1.3rem;
    --font-size-14: 1.4rem;
    --font-size-16: 1.6rem;
    --font-size-18: 1.8rem;
    --font-size-20: 2rem;
    --font-size-24: 2.4rem;
    --font-size-28: 2.8rem;
    --font-size-32: 3.2rem;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semiBold: 600;
    --font-weight-bold: 700;

    --border-radius-20: 20px;
    --border-radius-10: 10px;
    --border-radius-8: 8px;

    --box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
