.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    background-color: #f8f9fa;
}

.contents {
    background: white;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
}

.title {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-semiBold);
    color: #222222;
}

.topSection {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f8f8f8;
}

.topSectionLeft {
    display: flex;
    align-items: center;
    gap: 12px;
}

.topSectionLeft img {
    width: 100%;
}

.topSectionLeft_account {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
}

.nickname {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-bold);
    color: #222222;
}

.id {
    font-size: var(--font-size-13);
    font-weight: var(--font-weight-medium);
    color: #bdbdbd;
}

.topSectionRight {
    display: flex;
    align-items: center;
}

.mainSection {
    display: flex;
    flex-direction: column;
}

.metrics {
    display: flex;
    width: 100%;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.metrics p {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    color: #222222;
}
