.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 52px;
  background-color: #fff;
}

.backButton {
  position: absolute;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #1a1a1a;
  line-height: -1.5;
}
