/* 레포트 페이지 */

.metrics {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-bold);
    color: #000000;
    line-height: 1;
}

.metricsType {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-regular);
    color: #222222;
}

.profileMetrics {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-semiBold);
    color: #222222;
}

.prescriptionMetrics {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-medium);
    color: #222222;
}

.diagnosisMetrics {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-semiBold);
    color: #9e9e9e;
}

.opinion {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-medium);
    color: #9e9e9e;
}

.profileDate {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-regular);
    color: #646464;
}

.metricsDate {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    color: #9e9e9e;
    line-height: 1;
}

.category {
    font-size: var(--font-size-24);
    font-weight: var(--font-weight-bold);
    color: #222222;
}

.vaccine {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-semiBold);
    color: #000000;
    line-height: 1;
}

/* 기록 메인페이지*/

.symptomOrder {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semiBold);
    color: #d9d9d9;
    line-height: 0.5;
}

.eventTimeAgo {
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-regular);
    color: #000000;
}

.addReport {
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-semiBold);
    color: #ffffff;
}

.symptomTitleLabel {
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-semiBold);
    color: #000000;
}

.symptomContent {
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-semiBold);
    color: #222222;
}

/* 기록 상세페이지*/

.recordDate_black {
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-semiBold);
    color: #222222;
}

.recordDate_gray {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semiBold);
    color: #9e9e9e;
}

.metricsDate {
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-regular);
    color: #9e9e9e;
    line-height: 1;
}
