.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 16px;
    border: 1px solid black;
}

.containerBase {
    border-radius: var(--border-radius-20);
}

.profileContainer {
    background-color: #ffebeb;
    font-size: var(--font-size-20);
}

.metricsContainer {
    background-color: #f4f4f4;
}
