.inputForm {
  border-radius: 10px;
  width: 100%;
  height: 50px;
  border: 1px solid #d9d9d9;
  padding: 0 10px;
  box-sizing: border-box;
}

.listInputForm {
  border: none;
  height: 50px;
  line-height: 50px;
  width: 100%;
  padding: 0;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
}

.inputForm::placeholder {
  font-size: var(--font-size-14);
  color: #d9d9d9;
}

.listInputForm::placeholder {
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  color: #d9d9d9;
}
