.toggleContainer {
    overflow: hidden;
    transition: max-height, opacity 0.2s ease-in-out;
    max-height: 500px; /* 기본 펼쳐진 상태의 최대 높이 설정 */
    opacity: 1;
}

.prescriptionImg {
    width: 100%;
    height: auto;
}


.bg-profile {
    background-color: (var(--profile-color));
}


.tearLine {
    border: 1px dashed #bdbdbd;
}
